.card
  background: white
  border-radius: 10px
  padding: 5%
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12), 0px 2px 10px rgba(0, 0, 0, 0.12)
  text-align: center
  margin: 10px
  &__image
    @media (min-width: 620px) 
      width: 50%
      min-width: 30em
    @media (min-width: 960px) 
      width: 80%
      min-width: 30em
  &__name
    text-align: left
    // font-family: var(--headlinesFont)
    font-weight: 600
    border-bottom: 1px solid #d8d8d8
    margin-bottom: 7px
  &__content
    position: relative
    display: grid
    grid-template-columns: 1fr 1fr 1fr