.poke_container
  position: relative
  display: grid
  margin-top: 15px
  &__pokemons
    @media (min-width: 620px) 
      grid-template-columns: 1fr
    @media (min-width: 960px) 
      grid-template-columns: 1fr 1fr 1fr
    
