
.fade-enter,
.fade-appear 
  opacity: 0

 
.fade-enter.fade-enter-active,
.fade-appear.fade-appear-active 
  opacity: 1
  transition: opacity 400ms

 
.fade-exit 
  opacity: 1

 
.fade-exit.fade-exit-active 
  opacity: 0
  transition: opacity 200ms


.fade-in 
	opacity: 1
	animation-name: fadeInOpacity
	animation-iteration-count: 1
	animation-timing-function: ease-in
	animation-duration: 0.5s


@keyframes fadeInOpacity 
	0% 
		opacity: 0
	
	100% 
		opacity: 1
	

