.card {
  background: white;
  border-radius: 10px;
  padding: 5%;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12), 0px 2px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12), 0px 2px 10px rgba(0, 0, 0, 0.12);
  text-align: center;
  margin: 10px;
}

@media (min-width: 620px) {
  .card__image {
    width: 50%;
    min-width: 30em;
  }
}

@media (min-width: 960px) {
  .card__image {
    width: 80%;
    min-width: 30em;
  }
}

.card__name {
  text-align: left;
  font-weight: 600;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 7px;
}

.card__content {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.poke_container {
  position: relative;
  display: -ms-grid;
  display: grid;
  margin-top: 15px;
}

@media (min-width: 620px) {
  .poke_container__pokemons {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 960px) {
  .poke_container__pokemons {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.loanding {
  position: relative;
  margin-top: 10%;
  margin-left: 50%;
}

.fade-enter,
.fade-appear {
  opacity: 0;
}

.fade-enter.fade-enter-active,
.fade-appear.fade-appear-active {
  opacity: 1;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

.fade-in {
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
          animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background: #f2f2f2;
}
/*# sourceMappingURL=main.css.map */